.navbar {
    background-color: #3ca7e0;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }
  
.navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    font-family: 'nunito';
}
  
  
.nav-menu {
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}
  
.nav-item {
    display: flex;
    align-items: center;
    height: 80px;
}
  
.nav-links {
    color: #ffff;
    text-decoration: none;
    padding: 10px;
}

.nav-links::after {
    content: '';
    display: block;
    width: 0;
    height: 1.6px;
    background: #fff;
    transition: width .3s; 
}

.nav-links:hover::after {
    width:100%;
    transition: width .5s;
}
  
.fa-bars {
    color: #fff;
}

.nav-links-mobile {
    display: block;
    text-align: center;
    padding: 7px;
    border-radius: 0.5rem;
    width: 100%;
    background: #0075B5;
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.nav-links-mobile:hover {
    padding: 7px;
    transition: all 0.3s ease-out;
    background:white;
    color: black;
    transition: 250ms;
    font-weight: bold;
    font-size: 17px;
} 
  
.menu-icon {
    display: none;
}
  
@media screen and (max-width: 1220px) {
    body {
        overflow-x: hidden;
    }
    
    .NavbarItems {
        position: relative;
    }

    .nav-menu.active {
        background: #3ca7e0;
        right: 0%;
        opacity: 1;
        transition: all .6s ease;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 430px;
        position: absolute;
        top: 60px;
        right: -100%;
        opacity: 1;
        transition: all .7s ease;
        border-bottom-left-radius: 50px;
        margin-right: 0px;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 7px;
        margin-left: -26px;
        border-radius: 50px;
        width: 100%;
        background: #0075B5;
        text-decoration: none;
        color: white;
        font-size: 17px;
    }
    
    .nav-links-mobile:hover {
        padding: 7px;
        transition: all 0.3s ease-out;
        background:white;
        color: black;
        transition: 250ms;
        font-weight: bold;
        font-size: 17px;
    } 

    .nav-links {
        text-align: center;
        margin-left: -26px;
        width: 100%;
        display: table;
    }

    .nav-links::after {
        content: '';
        display: block;
        width: 0;
        height: 1.6px;
        background: #fff;
        transition: width .3s; 
    }
    
    .nav-links:hover::after {
        width:100%;
        transition: width .5s;
    }


    .navbar-logo {
        position: absolute;
        left: 15px;
        text-align: justify;
    }

    .menu-icon{
        display: block;
        position: absolute;
        top: 0px;
        right: 25px;
        transform: translate(0rem, 120%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: white;
        font-size: 2rem;
    }

    .nav-item {
        display: flex;
        align-items: center;
        height: 80px;
    }
}